<fieldset class="checkout-method-card">
  <legend class="visually-hidden">Delivery</legend>
  <input type="hidden" name="shipping_method" value="{{ code }}" id="input-shipping-code">
  <div id="error-shipping-method" class="invalid-feedback d-block mt-2"></div>
</fieldset>
